body{
	margin: 0;
	padding: 0;
}
#header{
	height: 58px;
	width: 100%;
	background-color: #39a9e6;
	position: relative;
}

#header form{
	display: inline;
}

.wrap .login{
	float: left;
	display: inline;
}

.login{
	float: right;
}

.wrap{
	width: 30%;
}

.rect{
	width: 36px;
	height: 36px;
	background-color: white;
	margin: auto;
	line-height: 58px;
	border: 1px solid #fff;
	position: absolute;
	left: 100px;
	top: 10px;
}

.littleRect{
	width: 17px;
	height: 17px;
	border: 4px solid #39a9e6;
	position: absolute;
	left: 117px;
	top: 10px;
	background-color: white;
}

.login{
	width: 70%;
	position: relative;
}

.search_text{
	width: 190px;
	float: left;
	margin-top: 5px;
	background: url(./images/magnifying_16.png) no-repeat 8% center;
	background-color: #FFF;
	border: 1px solid #FFF;
	padding-left: 40px;
	border-radius: 10px;
	margin-top: 22px;
	margin-left: 500px;
}

.pic{
	display: inline-block;
	margin-left: 15px;
	width: 40px;
	height: 40px;
	font-size: 12px;
	color: white;
	padding-left: 25px;
	margin-top: 24px;
	background: url(./images/header.png) no-repeat -38px -22px;
	vertical-align: middle;
	cursor: pointer;
}

#content{
	width: 100%;
	margin: 0 auto;
	height: 1000px;
}

.nav{
	width: 20%;
	background-color: #24305f;
	height: 100%;
	float: left;
}

.details{
	height: 150px;
	width: 160px;
	margin: 0 auto;
	padding-top: 20px;
}

.detailsInfo{
	height: 65px;
	width: 100%;
	line-height: 65px;
	font-size: 0;
	text-align: center;
	color: white;
}


.detailsInfo div{
	display: inline-block;
	vertical-align: middle;
	height: 58px;
	width: 58px;
	background: url(./images/left-side.png) no-repeat 0px 0px;
}

.detailsInfo span{
	display: inline-block;
	vertical-align: middle;
	font-size: 15px;
	padding-left: 20px;
}

.bottom{
	width: 100%;
	height: 35px;
	margin-top: 10px;
}

.bottom ul{
	height: 35px;
	color: #4e7198;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	padding-left: 35px;
}

.bottom li{
	list-style-type: none;
	font-size: 14px;
}

.dropdown-menu{
	width: 100%;
	height: 70%;
	/*background-color: #2c3c6c;*/
}

.dropdown-menu ul{
	margin: 0;
	font-size: 12px;
	color: #4e7198;
	padding-left: 30px;
	margin-left: -100px;
}

.dropdown-menu li{
	list-style-type: none;
	padding-left: 130px;
	cursor: pointer;
	padding-bottom: 10px;
}

.active{
	background-color: #2c3c6c;
}

li:hover{
	background-color: #2c3c6c;
}

.dropdown-menu h3{
	display: inline-block;
	padding-left: 5px;
}

.dropdown-menu span{
	width: 12px;
	height: 10px;
	display: inline-block;
}

.grid span{
	background: url(./images/left-side.png) no-repeat -70px 0px;
}

.collect span{
	background: url(./images/left-side.png) no-repeat -70px -65px;
}

.share span{
	background: url(./images/left-side.png) no-repeat -102px -47px;
}

.pics span{
	background: url(./images/left-side.png) no-repeat -70px -65px;
}

.log span{
	background: url(./images/left-side.png) no-repeat -70px -65px;
}

.info span{
	background: url(./images/left-side.png) no-repeat -100px -2px;
}

.grid ul{
	padding-left: 130px;
}

.firstdrop li{
	list-style-type: none;;
	padding: 0px;
	margin: 0 0 20px 0;
	font-size: 15px;
	font-weight: bold;
}	

ul .fileone{
	background: url(./images/left-side.png) no-repeat -13px -63px;
}

ul .filetow{
	background: url(./images/left-side.png) no-repeat -32px -63px;
}

ul .filethree{
	background: url(./images/left-side.png) no-repeat -13px -63px;
}

ul .file{
	background: url(./images/left-side.png) no-repeat -72px -25px;
}

.docs li{
	list-style-type: none;
	margin: 0px;
	padding: 10px 0 0 0;
}

ul .doc{
	background: url(./images/left-side.png) no-repeat -70px -44px
}

.main{
	background: #eaefee;
	width: 80%;
	height: 1000px;
	overflow: hidden;
	margin-top: -5px;
}
















